<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="/assets/font/stylesheet.css"
      rel="stylesheet"
    />
    <title>Squadpage</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/"><img src="./assets/logo.svg" class="logo" /></a>
          </li>
          <li><a href="/">Kopen</a></li>
          <li><a href="/about">Huren</a></li>
          <li><a href="/contact">Verkopen</a></li>
          <li><a href="/users">Mijn Huis</a></li>
          <li><a href="/profile">Robin</a></li>
        </ul>
      </nav>
    </header>
